body{
    background: whitesmoke;
    height: 100vh;
    padding: 1.5rem;
}
.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
}
.menu-list{

}